<section class="selectdata">
    <select name="Date" (change)="ChangeDate($any($event.target).value)">
        <option [value]="is.date" *ngFor = "let is of date">{{ is.date }}</option>
    </select>
</section>

<section class="tabledata">
    
<table>
    <thead>
        <tr>
            <th>Website</th>
            <th>Visitors</th>
            <th>Rank</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = 'let us of data'>
            <td><a href="{{ us.link }}" target="_blank">{{ us.link }}</a></td>
            <td>{{ us.visitor }}</td>
            <td><p class="status testtable"></p></td>
        </tr>
    </tbody>
</table>
</section>
